.mask {
  mask-image: linear-gradient(black 50%, transparent);
  pointer-events: none;
  top: 0;
}

.position {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: transparent;
}

.desktopNav {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.location {
  @media (max-width: 767px) {
    display: none !important;
  }
}
